.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
body {background: #000 url(bg.png) no-repeat center center fixed;}

h1 {
	color: white;
	text-align: center;
}
#img1 {
	height: 80px;
	position: fixed;
	top: 2%;
}
#found {
	margin-top: 8%;
	opacity: 0;
	transition: opacity 1.5s ease-in-out;
   -moz-transition: opacity 1.5s ease-in-out;
   -webkit-transition: opacity 1.5s ease-in-out;
   -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}
.preimg{
	display: block !important;
	margin-top: 10%;
    margin-left: auto !important;
    margin-right: auto !important;
	height: 300px !important; 	
}
p {
	color: white;
	text-align: right;
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-right: 11px;
}

.style1 {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	padding: 22;
	margin: 22;
	margin: 0 -15px;
	margin-left: 107px;
	margin-right: 161px;
	margin-top: 40px;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.panel {
	
	background: #f2f2f2;
	padding: 25px;
	padding-top: 5px;
	margin: 0 15px 5px 5px;
	width: 220px;
	height: 215px;
	margin-top: 30px;
	box-shadow: 5px 5px 2px #383838 ;
	line-height: 62px;
	color: black;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background: center no-repeat black;
	-webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
	opacity: 1;
	transition: opacity 2.5s ease-in-out;
   -moz-transition: opacity 2.5s ease-in-out;
   -webkit-transition: opacity 2.5s ease-in-out;
}

.onoffswitch {
	top: 12%;
    position: fixed; width: 139px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #040504; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Live Streams";
    padding-left: 10px;
    background-color: #524C52; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "All Streams";
    padding-right: 10px;
    background-color: #F7F5EF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #040504; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 105px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}